<div class="player_panel_collection">
    <% @players.each do |player| %>
        <div class="player_panel">
            <div class="player_info">
                <p class="player_name_text<% if player.is_player_bankrupt? %> player_out<% end %>"><%= player.name %></p>
                <p class="player_money_text"><% unless player.is_dealer? %>$<%= player.money %><% end %></p>
                <div class="player_conditional_wrapper">
                    <% if @game_session.phase != GameSession::PHASE_RESOLVE %>
                        <%= render partial: "bet_display", locals: {player: player} %>
                    <% else %>
                        <%= render partial: "winnings_display", locals: {player: player} %>
                    <% end %>
                </div>
            </div>
            <%= render partial: "show_cards", locals: {player: player} %>
        </div>
    <% end %>
</div>