<% @players[0..-2].each do |player| %>
    <h4><%= player.name %>: $<%= player.money %> 
        <% if @game_session.phase != GameSession::PHASE_RESOLVE %>
            <%= render partial: "bet_display", locals: {player: player} %>
        <% else %>
            <%= render partial: "winnings_display", locals: {player: player} %>
        <% end %>
    </h4>
    <%= render partial: "show_cards", locals: {player: player} %>
<% end %>

<% dealer = @players[-1] %>
<h4><%= dealer.name %><% if @game_session.phase == GameSession::PHASE_RESOLVE %> | <%= dealer.best_value %> <% end %></h4>
<%= render partial: "show_cards", locals: {player: dealer} %>