<%= render partial: "shared/nav", locals: {title: "Insurance"} %>
<%= render "info_screen" %>

<% side_bet = (@current_player.current_bet.to_f / 2).ceil %>

<div class='basic_wrapper_multi'>
    <p><%= @current_player.name %> 's Turn</p>
    <div></div>
    <p>Bet half your current bet (<%="#{(@current_player.current_bet.to_f / 2).ceil}"%>) that the dealer has a Natural (21)?</p>

    <% if @current_player.can_side_bet? %>
        <div></div>
        <div></div>
        <div class='insurance_yes_no_pair_wrapper'>
            <div class='casino_btn_wrapper'>
                <div class='casino_btn_inner_wrapper'>
                    <%= button_to "Yes", {controller: "game_sessions", action: "insurance_response", use_insurance: true}, class: "casino_btn", method: :post %>
                </div>
            </div>
            <div class='casino_btn_wrapper'>
                <div class='casino_btn_inner_wrapper'>
                    <%= button_to "No", {controller: "game_sessions", action: "insurance_response", use_insurance: false}, class: "casino_btn", method: :post %>
                </div>
            </div>
        </div>
    <% else %>
        <h5>You lack the funds to make a side bet</h5>
        <div class='casino_btn_wrapper'>
            <div class='casino_btn_inner_wrapper'>
                <%= button_to "Continue", {controller: "game_sessions", action: "insurance_response", use_insurance: false}, class: "casino_btn", method: :post %>
            </div>
        </div>
    <% end %>
</div>
