<h1>Settings</h1>
<% if flash[:settings_error] %>
    <h2><%= flash[:settings_error] %></h2><br />
<% end %>

<%= form_for @settings do |f| %>
    <%= f.label :starting_money %>:
    <%= f.number_field :starting_money, in: Setting::MIN_STARTING_MONEY..Setting::MAX_STARING_MONEY, step: 1 %><br />

    <%= f.label :human_players %>:
    <%= f.number_field :pc_count, in: Setting::MIN_TOTAL_PLAYERS..Setting::MAX_TOTAL_PLAYERS, step: 1 %><br />

    <%= f.label :total_players %>:
    <%= f.number_field :total_players, in: Setting::MIN_TOTAL_PLAYERS..Setting::MAX_TOTAL_PLAYERS, step: 1 %><br />

    <%= f.label :deck_count %>:
    <%= f.number_field :deck_count, in: Setting::MIN_DECK_COUNT..Setting::MAX_DECK_COUNT, step: 1 %><br />

    <%= f.submit %><br />
<% end %>

<%= button_to "Back", "/", method: :get %>